.nav
{
  position: absolute;
  top: 0;
  right: 0;
}


.meta_list
{
    vertical-align : middle;
}

.container {
  display: block;
  width: 100%;
}

.music{
margin: auto;
width: 100%;
padding: 10px;
position: relative;
top:70px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.minmaj {
  color:yellow;
  font-size:180%;
  background-color:black;
  opacity:0.7;
  width:60%;
}

.minmaj1 {
  color:yellow;
  font-size:180%;
  background-color:black;
  opacity:0.7;
  width:50%;
}


.multts {
  color:yellow;
  font-size:180%;
  background-color:black;
  opacity:0.7;
  width:20%;
}

.aParent div {
    width: 48%;
    float: left;
    clear: none;
}

.center {
  margin: auto;
  width: 70%;
}


.card {
  border: 1px solid black;
  float: left;
  margin: 1px;
  padding: 10px 3px;
  /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
  width: calc( 100% / 4 - 10px);
  position: relative;
}





/*first element*/

.container .card:first-child {
  margin-left: 0;
}



.container .card:nth-child(4n) {
  margin-right: 0;
}



.container .card:nth-child(4n+1) {
  margin-left: 0;
}



.container .card:last-child {
  margin-right: 0;
}
